body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f1ffa8, #2d962b);
    font-family: Arial, sans-serif;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    margin: 5px;
}
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: blue;
    color: white;
    border-radius: 5px;
}